<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.broadcastold" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Broadcast Old</name>
    <description>
        Broadcast Old App
    </description>
    <author>
        Artem Luchin
    </author>
    <content src="index.html" />
    
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="Fullscreen" value="true" />
    
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="5500"/>
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreenDuration" value="500"/>
    <preference name="ShowSplashScreenSpinner" value="false"/>
    
    <preference name="StatusBarOverlaysWebView" value="false" />
    
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/logo36.png" />
        <icon density="mdpi" src="res/icon/android/logo48.png" />
        <icon density="hdpi" src="res/icon/android/logo72.png" />
        <icon density="xhdpi" src="res/icon/android/logo96.png" />
        <icon density="xxhdpi" src="res/icon/android/logo144.png" />
        <icon density="xxxhdpi" src="res/icon/android/logo192.png" />
        
        <splash density="port-ldpi" src="res/screen/android/181screen.9.png" />
        <splash density="port-mdpi" src="res/screen/android/237screen.9.png" />
        <splash density="port-hdpi" src="res/screen/android/361screen.9.png" />
        <splash density="port-xhdpi" src="res/screen/android/473screen.9.png" />
        <splash density="port-xxhdpi" src="res/screen/android/715screen.9.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/950screen.9.png" />
    </platform>
    
    <icon src="res/icon.png" />
    <splash src='res/splash.9.png' />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
